#Hannover Re Financial Data Analysis

With this notebook I ingest and transform publicly available data from the reinsurance company Hannover Re. The main aim is to get a clean data set in order to upload it to MS Power BI, where the data model can be created and the data visualised accordingly.

Maybe this will serve as part of a peer analysis that I will conduct for the TOP 5 reinsurance companies - we will see.

## Data Ingestion and initial exploration

The first step is to import the relevant python packages and load the data from Google Drive where I store it. Subsequently the data frame will be created.

In [ ]:
import numpy as np
import pandas as pd
!pip install xlrd

from google.colab import drive
drive.mount('/content/drive')

key_figures_2020_2016 = None
income_2020_2019 = None

key_figures_2020_2016 = pd.read_excel('/content/drive/MyDrive/FinancialData/HNR_AR2020_XLS_en.xlsx', sheet_name='Key figures', header=3)

Requirement already satisfied: xlrd in /usr/local/lib/python3.7/dist-packages (1.1.0)
Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Lets have a first look at key_figures_2020_2016

In [ ]:
print(key_figures_2020_2016.info())
print(key_figures_2020_2016.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   in EUR million     34 non-null     object
 1   2020               24 non-null     object
 2   +/- previous year  17 non-null     float64
 3   2019               24 non-null     object
 4   2018               24 non-null     object
 5   2017               24 non-null     object
 6   20161              24 non-null     object
dtypes: float64(1), object(6)
memory usage: 2.2+ KB
None
             in EUR million          2020  ...     2017    20161
0                   Results           NaN  ...      NaN      NaN
1     Gross written premium  24765.461863  ...  17790.5  16353.6
2        Net premium earned   21355.91519  ...  15631.7  14410.3
3  Net underwriting result2   -693.652574  ...   -253.6    448.1
4     Net investment income   1688.122902  ...   1773.9   1550.4

[5 rows x 7 columns]

Lets look at the data in a way a user is more used to: a table.

In [ ]:
from google.colab import data_table
data_table.enable_dataframe_formatter()